<h1 class="text-center">Rendimiento esperado para el cultivo de {{ tipoCultivo }}</h1>
<br />
<h2 class="text-center">Fechas de siembra para el período Octubre-Noviembre</h2>
<br />

<table class="table">
    <tr>
        <td colspan="{{ variedades.length }}">
            Selecciona la variedad
        </td>
    </tr>
    <tr>
        <td ng-repeat="variedad in variedades">
            <label>
                <input type="radio" ng-value="variedad" name="variedad" 
                    ng-model="role"  ng-click='cambiar(variedad)'  ng-init="$index==0?(role=variedad):''; $index==0?cambiar(variedad):'' "  />
                {{variedad}}
            </label>
        </td>
    </tr>
</table>
<div>
    <button id="back" name="back"><</button>
    <button id="forward" name="forward">></button>
    <label id="currentMonth">Septiembre 2016</label>
</div>
<div id="chart_google"></div>

