<h2 class="text-center">Predicción Climática</h2>
<br />
<p>
    Por favor seleccione alguno de los siguientes formatos para visualizar los pronósticos climáticos
</p>
<br />
<div class="row">
    <div class="col-md-6 text-center">
        <a href="#/graficas/pieandline/clima/">
            <img class="img-circle" src="images/thumbnail/pieandline.png" alt="Pie and Line" width="140" height="140" />
        </a>
        <br />
        <br />
        <p><a class="btn btn-default" href="#/graficas/pieandline/clima/" role="button">Formato #1</a></p>
    </div>
    <div class="col-md-6 text-center">
        <a href="#/graficas/dashboard/clima/">
            <img class="img-circle" src="images/thumbnail/dashboard.png" alt="Dashboard" width="140" height="140" />
        </a>
        <br />
        <br />
        <p><a class="btn btn-default" href="#/graficas/dashboard/clima/" role="button">Formato #2</a></p>
    </div>
</div>