<h2 class="text-center">Prónósticos para el cultivo de {{ tipoCultivo | uppercase }}</h2>
<br />
<p>
    Por favor seleccione alguno de los siguientes formatos para visualizar los pronósticos de rendimientos del cultivo
</p>
<br />
<div class="row">
    <div class="col-md-6 text-center">
        <a href="#/graficas/calendargoogle/{{ tipoCultivo }}">
            <img class="img-circle" src="images/thumbnail/calendar_google.png" alt="Google Calendar" width="140" height="140">
        </a>
        <br />
        <br />
        <p><a class="btn btn-default" href="#/graficas/calendarheatmap/{{ tipoCultivo }}" role="button">Formato #3</a></p>
    </div>
    <div class="col-md-6 text-center">
        <a href="#/graficas/trend/{{ tipoCultivo }}">
            <img class="img-circle" src="images/thumbnail/trend.png" alt="Trend Chart" width="140" height="140">
        </a>
        <br />
        <br />
        <p><a class="btn btn-default" href="#/graficas/barchart/{{ tipoCultivo }}" role="button">Formato #4</a></p>
    </div>
    
</div>
<!--
<div class="row">
    <div class="col-lg-4 text-center">
        <img class="img-circle" src="images/thumbnail/calendar_google.png" alt="Calendar Google" width="140" height="140">
        <p><a class="btn btn-default" href="#/graficas/calendargoogle/{{ tipoCultivo }}" role="button">Calendar Google</a></p>
    </div>
    <div class="col-lg-4 text-center">
        <img class="img-circle" src="images/thumbnail/spider.png" alt="Calendar Heatmap" width="140" height="140">
        <p><a class="btn btn-default" href="#/graficas/spider/{{ tipoCultivo }}" role="button">Spider</a></p>
    </div>
</div>
-->