<!-- Example row of columns -->
<div class="row brand">
  <div class="col-lg-4">
    <a href="#/clima" role="button">
      <p class="text-center"><img alt="" src="images/climate.png" width="140" height="140" /></p>
      <h2 class="text-center">Pronóstico Climático</h2>
      <p class="text-justify">
        Conozca el estado del clima de los siguientes 6 meses para su localidad. El pronóstico más reciente 
        disponible es para el período Agosto – Diciembre 2016
      </p>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="#/cultivo/arroz" role="button">
      <p class="text-center"><img alt="" src="images/rice.png" width="140" height="140" class="text-center" /></p>
      <h2 class="text-center">Pronóstico de Arroz</h2>
      <p class="text-justify">
        Conozca cómo las condiciones climáticas del próximo ciclo podrían afectarle, y determine cuáles son las fechas, 
        variedades, y condiciones ideales para su próxima siembra. El pronóstico más reciente disponible 
        es para el semestre 2016-B. 
      </p>
      </a>
  </div>
  <div class="col-lg-4">
    <a href="#/cultivo/maiz" role="button">
      <p class="text-center"><img alt="" src="images/maize.png" width="140" height="140" class="text-center" /></p>
      <h2 class="text-center">Pronóstico de Maíz</h2>
      <p class="text-justify">
        Conozca cómo las condiciones climáticas del próximo ciclo podrían afectarle, y determine cuáles son las fechas, 
        variedades, y condiciones ideales para su próxima siembra. El pronóstico más reciente disponible 
        es para el semestre 2016-B. 
      </p>
    </a>
  </div>
</div>