<!-- Example row of columns -->
<div class="row brand">
  <div class="col-lg-4">
    <a href="#/clima" role="button">
      <p class="text-center"><img alt="" src="images/climate.png" width="140" height="140" /></p>
      <h2 class="text-center">Pronóstico Climático</h2>
      <p class="text-justify">
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
    </a>
  </div>
  <div class="col-lg-4">
    <a href="#/cultivo/arroz" role="button">
      <p class="text-center"><img alt="" src="images/rice.png" width="140" height="140" class="text-center" /></p>
      <h2 class="text-center">Pronóstico de Arroz</h2>
      <p class="text-justify">
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      </p>
      </a>
  </div>
  <div class="col-lg-4">
    <a href="#/cultivo/maiz" role="button">
      <p class="text-center"><img alt="" src="images/maize.png" width="140" height="140" class="text-center" /></p>
      <h2 class="text-center">Pronóstico de Maíz</h2>
      <p class="text-justify">
        Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
        semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
      </p>
    </a>
  </div>
</div>